.footer-section {
  background-color: #140f0a;
  color: #fff;
  font-size: 0.8em;
  padding-bottom: 30px;

  .section-inner {
    max-width: 1160px;
    margin: 0 auto;
    @media screen and (max-width: 850px) {
      padding: 10px;
    }
  }

  .flex-wrap {
    display: flex;
    @media screen and (max-width: 850px) {
      display: block;
    }

    .logo-wrap {
      flex: 1;
      img {
        width: 200px;
      }
    }
    .info-wrap {
      .info {
        padding: 20px;
        padding-right: 0;
        @media screen and (max-width: 850px) {
          display: block;
        }

        label {
          font-size: 1.2em;
          font-weight: 700;
          display: block;
        }
      }
    }
  }
  .copy-right-wrap {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 850px) {
      display: block;
      margin-top: 40px;

      span {
        display: block;
      }
    }
  }
}
.map-section {
  background-color: #140f0a;
  padding: 60px 0;

  @media screen and (max-width: 850px) {
    padding: 60px 10px;
  }
  .section-inner {
    max-width: 1160px;
    margin: 0 auto;
    .section-title {
      color: #bf9d7d;
      font-size: 32px;
      font-weight: 700;
      margin-right: 70px;
      letter-spacing: 5px;

      span {
        display: inline-block;
        vertical-align: middle;
      }
      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        background: rgb(191, 157, 125);
        background: linear-gradient(90deg, rgba(191, 157, 125, 1) 0%, rgba(191, 157, 125, 0) 100%);
        height: 2px;
      }
    }
    .address {
      font-size: 0.8em;
      color: #fff;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .map {
      width: 100%;
      margin-bottom: 20px;
    }
    .info-list {
      display: flex;
      @media screen and (max-width: 850px) {
        display: block;
      }
      .info {
        flex: 1;
        color: #fff;
        padding: 0 20px;
        margin-bottom: 20px;
        .title {
          font-size: 1.5em;
          font-weight: 700;

          @media screen and (max-width: 850px) {
            font-size: 1.1em;
          }
        }
        .desc {
          font-size: 0.8em;
          line-height: 175%;
          font-weight: 100;
        }
      }
    }
  }
  .line {
    width: 100%;
    margin-top: 40px;
  }
}
.food-section {
  background-color: #f7f2ee;
  padding: 40px 0;
  background-image: url('@/assets/img/line.png');
  background-position: left center;
  background-size: 150px auto;
  background-repeat: no-repeat;
  padding-left: 200px;

  @media screen and (max-width: 850px) {
    padding-left: 0;
    background-image: none;
  }

  .section-title {
    color: #bf9d7d;
    font-size: 32px;
    font-weight: 700;
    margin-right: 70px;
    letter-spacing: 5px;
    @media screen and (max-width: 850px) {
      font-size: 20px;
      margin-left: 10px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 100px;
      background: rgb(191, 157, 125);
      background: linear-gradient(90deg, rgba(191, 157, 125, 1) 0%, rgba(191, 157, 125, 0) 100%);
      height: 2px;
    }
  }
  .slide-wrap {
    padding: 10px;
    .side-wrap-inner {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
      }
      .text-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        background: linear-gradient(180deg, rgba(#140f0a, 0.1) 0%, rgba(#140f0a, 0.8) 100%);
        color: #fff;
        backdrop-filter: blur(5px);
        .info {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .title {
            font-size: 1.2em;
            font-weight: bold;
          }
        }
        .desc {
          text-align: left;
          line-height: 175%;
        }
      }
    }
  }
}
.home-room-section {
  background-color: #000;
  display: flex;
  background-image: url('@/assets/img/bg.png');
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  @media screen and (max-width: 850px) {
    display: block;
    padding: 10px;
  }
  img {
    width: 50%;
    @media screen and (max-width: 850px) {
      width: 100%;
    }
  }
  .info {
    color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 850px) {
      width: 100%;
    }

    .img-wrap {
      flex: 1;
      img {
        width: 100%;
      }
    }
    .text-wrap {
      padding: 40px;
      max-width: 490px;
      @media screen and (max-width: 850px) {
        max-width: 100%;
        padding: 0;
      }

      .name {
        font-weight: 700;
        font-size: 40px;
      }
      .desc {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 20px;
      }
      .price {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 20px;
      }
      .view-more {
        padding: 15px 20px;
        display: block;
        text-decoration: none;
        border-radius: 5px;
        text-align: right;
        color: #000;
        background-color: #fff;
      }
    }
  }
}
.about-section {
  background-image: url('@/assets/img/about.png');
  background-size: cover;
  padding: 20px;
  padding-top: 60px;
  .text-wrap {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 25px 25px 0 25px;
    backdrop-filter: blur(5px);
    box-shadow: -1px 1px 0 #fff;
    background: linear-gradient(90deg, rgba(#140f0a, 0.8) 0%, rgba(#be9c7c, 0.8) 100%);
    padding: 40px;
    color: #fff;
    margin-bottom: -70px;
    .title {
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 20px;
      @media screen and (max-width: 850px) {
        font-size: 20px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 40px;
      }

      &::after {
        content: '';
        width: 200px;
        height: 1px;
        background-color: #fff;
        vertical-align: middle;
        display: inline-block;
      }
    }
    .desc {
      @media screen and (max-width: 850px) {
        font-size: 12px;
        line-height: 175%;
      }
    }
  }
}
.home-page {
  font-family: 'Noto Serif TC';
}
.home-banner {
  height: 100vh;
  position: relative;
  &::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 2;
    width: 90%;
    align-items: center;
    .name {
      flex: 1;
      margin-right: 100px;
      color: #bf9d7d;
      font-size: 40px;
      font-weight: 700;

      @media screen and (max-width: 850px) {
        font-size: 20px;
      }

      span {
        font-size: 24px;
        margin-bottom: 30px;
        display: block;
        @media screen and (max-width: 850px) {
          font-size: 12px;
        }
      }

      &:after {
        content: '';
        display: block;
        background: rgb(191, 157, 125);
        background: linear-gradient(90deg, rgba(191, 157, 125, 1) 0%, rgba(255, 255, 255, 1) 100%);
        height: 2px;
        @media screen and (max-width: 850px) {
          height: 50px;
          width: 2px;
          display: inline-block;
        }
      }

      @media screen and (max-width: 850px) {
        text-align: center;
      }
    }

    .blur-wrap {
      border-radius: 25px;
      backdrop-filter: blur(5px);
      box-shadow: 1px -1px 0 #fff;
      background-color: rgba(#fff, 0.1);
      padding: 40px;
      color: #fff;
      .blur-wrap-inner {
        position: relative;
        left: -70px;

        @media screen and (max-width: 850px) {
          left: -50px;
        }
        .title {
          font-size: 70px;
          font-weight: 700;
          line-height: 120px;
          margin-bottom: 10px;
          letter-spacing: 3px;
          @media screen and (max-width: 850px) {
            font-size: 30px;
            line-height: 40px;
          }
        }
        .desc {
          display: block;
          font-size: 26px;
          font-weight: 600;
          margin-bottom: 20px;
          letter-spacing: 3px;

          @media screen and (max-width: 850px) {
            font-size: 12px;
            font-weight: 100;
          }
        }
        .go-to-order-btn {
          display: block;
          background-color: #fff;
          text-decoration: none;
          padding: 20px;
          text-align: right;
          border-radius: 5px;
          color: #000;
        }
      }
    }

    @media screen and (max-width: 850px) {
      display: block;
    }
  }
}

.news-section {
  background-color: #f7f2ee;
  padding: 100px;
  @media screen and (max-width: 850px) {
    padding: 100px 10px;
  }
  .section-inner {
    display: flex;
    max-width: 1160px;
    position: relative;
    margin: 0 auto;
    @media screen and (max-width: 850px) {
      display: block;
    }
    .section-title {
      color: #bf9d7d;
      font-size: 48px;
      font-weight: 700;
      margin-right: 70px;
      letter-spacing: 5px;
      @media screen and (max-width: 850px) {
        font-size: 20px;
      }

      &:after {
        content: '';
        display: block;
        background: rgb(191, 157, 125);
        background: linear-gradient(90deg, rgba(191, 157, 125, 1) 0%, rgba(191, 157, 125, 0) 100%);
        height: 2px;
        @media screen and (max-width: 850px) {
          width: 70px;
        }
      }
    }

    .news-list {
      flex: 1;
      position: relative;
      z-index: 5;
      .news {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        @media screen and (max-width: 850px) {
          display: block;
        }
        img {
          border-radius: 5px;
          width: 474px;
          margin-right: 20px;
          @media screen and (max-width: 850px) {
            margin-right: 0;
            width: 100%;
          }
        }

        .news-text {
          .title {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 20px;

            @media screen and (max-width: 850px) {
              font-size: 20px;
            }
          }
          .desc {
            font-size: 16px;
            font-weight: 500;
            @media screen and (max-width: 850px) {
              font-size: 12px;
            }
          }
        }
      }
    }

    .top-dot {
      position: absolute;
      width: 200px;
      right: 0;
      top: 0;

      @media screen and (max-width: 850px) {
        width: 70px;
      }
    }
    .bottom-dot {
      position: absolute;
      width: 200px;
      left: 0;
      bottom: 0;
    }
  }
}
